#parse("base.html")
#@mainLayout()
<h1>Gestion des Commandes</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Commande</th>
        <th scope="col">Status</th>
        <th scope="col">Modif</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>NEW</option>
                <option>PREPARATION</option>
                <option>ATTENTE DU LIVREUR</option>
                <option>EN LIVRAISON</option>
                <option>ANNULÉ</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>
#end
