#parse("base.html")
#@mainLayout()
<h1>Gestion des Commandes</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Commande</th>
        <th scope="col">Status</th>
        <th scope="col">Modif</th>
    </tr>
    </thead>
    <tbody>
    #foreach( $order in $orders )
    <tr>
        <th scope="row">
            <a href="/order/$order.id"> $order.id</a>
        </th>
        <td>$order.customer.lastName</td>
        <td>$order.customer.firstName</td>
        <td>-</td>
        <td>$order.status</td>
        <td>
            <select class="form-control" id="exampleFormControlSelect1">
                #foreach($status in $statusesList)
                    <option>$status</option>
                #end
            </select>
        </td>
    </tr>
    #end
    </tbody>
</table>
#end
